---
---
@charset "utf-8";

$base-font-family: GaramondRegular, Centaur, Baskerville, -apple-system !default;
$content-font-family: Avenir, AvenirNext-Regular, Proxima nova, Akzidenz-Grotesk, Futura, Helvetica Neue, Helvetica, Arial, -apple-system !default;

$text-color: #333333 !default;
$background-color: #1A1A1A !default;

$navbar-height: 80px !default;

$navbar-background-color: rgba(255,255,255,0) !default;
$main-background-color: #FBFBFA !default;

$spacing-unit:     20px !default;

$device-mobile:    800px !default;
$device-mobile-small:    600px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// home: h1 144px, h2 42px, h3 36px, h4 h5 16px
// article: h2 24px


body {
  font-family: $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;

  background-image: url(/images/body_bg_1000.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

.navbar {
  background-color: $navbar-background-color;
  z-index: 1000;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  height: $navbar-height;

  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar-nav {
    margin-left: auto;
    margin-right: 10px;

    @include 
