---
---
@charset "utf-8";

$base-font-family: Garamond-Regular, Centaur, Baskerville, -apple-system !default;
$content-font-family: Avenir, AvenirNext-Regular, Proxima nova, Akzidenz-Grotesk, Futura, Helvetica Neue, Helvetica, Arial, -apple-system !default;

$text-color: #333333 !default;
$background-color: #1A1A1A !default;

$background-gradien-color-top: #FFFFFF !default;
$background-gradien-color-bottom: $background-color !default;

$navbar-height: 80px !default;
$navbar-height-mobile: 50px !default;

$navbar-background-color: rgba(255,255,255,0) !default;
$main-background-color: #FBFBFA !default;

$spacing-unit:     20px !default;

$device-mobile:    800px !default;
$device-mobile-small:    600px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

html {
}

body {
  font-family: $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;

  background-image: url(/images/body_bg_1000.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

a[disabled] {
  pointer-events: none;
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

.navbar {
  background-color: $navbar-background-color;
  z-index: 1000;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  height: $navbar-height;
  @include media-query($device-mobile) {
    height: $navbar-height-mobile;
  }

  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar-logo, .navbar-logo > img {
    height: 24px;

    @include media-query($device-mobile) {
      height: 20px;
    }
  }

  .navbar-nav {
    margin-left: auto;
    margin-right: 10px;
    height: 24px;
    display: flex;

    @include media-query($device-mobile) {
      margin-right: 0px;
    }

    a.navbar-nav-link {
      margin-left: 30px;
      color: #000000;
      letter-spacing: 1.5px;
      text-decoration: none;

      border-bottom: rgba(255,255,255,0) solid 1px;

      &.active {
        color: #FF1960;
        border-bottom: #FF1960 solid 1px;
      }

      &:hover {
        color: #FF1960;
      }
    }
  }
}

.main {
  background-color: $main-background-color;
  min-height: calc(100vh - 200px);

  > .wrapper {
    margin-top: $navbar-height;
    @include media-query($device-mobile) {
      margin-top: $navbar-height-mobile;
    }
  }

  .home {
    padding-bottom: 50px;

    .site-heading {
      margin-top: 210px;
      margin-left: -15px;
      margin-bottom: 5px;
      font-size: 144px;
      letter-spacing: 4px;
      color: #FF1960;
      opacity: .95;
      white-space: nowrap;

      @include media-query($device-mobile) {
        margin-top: 100px;
        font-size: 72px;
      }

      @include media-query($device-mobile-small) {
        font-size: 48px;
      }
    }

    .site-subheading {
      font-size: 36px;
      letter-spacing: 2px;
      opacity: 0.95;
      margin-top: 0px;
      margin-bottom: 220px;
      white-space: nowrap;

      @include media-query($device-mobile) {
        font-size: 28px;
        margin-bottom: 50px;
      }
      @include media-query($device-mobile-small) {
        font-size: 24px;
      }
    }

    .post-list {
      display: flex;
      flex-wrap: wrap;

      margin-left: -20px;
      margin-right: -20px;

      @include media-query($device-mobile) {
        margin-left: 0px;
        margin-right: 20px;
      }

      > .post-list-item {
        width: calc(50% - 40px);
        padding: 0px 20px;
        margin-bottom: 80px;

        @include media-query($device-mobile) {
          width: 100%;
          padding: 0px;
          margin-bottom: 30px;
        }

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        .post-list-item-img {
          overflow: hidden;
          height: 0;
          padding-top: 66.66%;
          background-size: cover;
          -o-object-fit: cover;
          object-fit: cover;
          background-color: rgba(255,255,255,0.1);
          border-radius: 2px;
        }

        &.item-type-post .post-list-item-img:hover {
          filter: brightness(1.1);
        }

        .post-link {
          margin-top: 20px;
          line-height: 1.5;

          @include media-query($device-mobile) {
            margin-top: 10px;
          }

          &-title {
            font-family: $content-font-family;
            color: #FFFFFF;
            text-decoration: none;

            &:hover, &:active {
              text-decoration: underline;
            }

            &:visited {
              color: #B3B3B3;
            }

            &:visited:hover {
              color: #FFFFFF;
            }

            &[disabled] {
              color: #B3B3B3;
            }
          }

          &-readmore {
            font-family: $content-font-family;
            font-weight: bold;
            color: #FF1960;
            text-decoration: none;
            float: right;
            line-height: 1.5;

            @include media-query($device-mobile) {
              display: block;
              float: none;
            }

            &:hover, &:visited:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .article {
    font-family: $content-font-family;

    padding-top: 80px;
    padding-bottom: 200px;

    width: 70%;
    margin-right: 30%;

    @include media-query($device-mobile) {
      width: 100%;
      margin: 0px;
    }

    p > img {
      max-width: 100%;
    }

    .article-title {
      font-size: 42px;
      color: #1A1A1A;
      font-weight: 400;
    }

    .article-meta time {
      color: #FF1960;
    }

    .article-content {
      margin-top: 65px;

      h1, h2, h3, h4, h5 {
        line-height: 1.5;
        opacity: 1;
      }

      h1 {
        color: #1A1A1A;
      }

      h2 {
        font-size: 1.2em;
        color: #333333;
      }

      p {}

      strong {}
      em { background-color: #CCC;}
    }
  }
}

.footer {
  height: 300px;

  .wrapper {
    margin: 100px auto 100px auto;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    @include media-query($device-mobile) {
      max-width: 500px;
    }

    .footer-content {
      margin-left: 30px;
      color: #FFFFFF;

      *:first-child {
        margin-top: 0px;
      }

      h3 {
      }

      a, a:hover, a:visited, a:active {
        color: #FF1960;
        text-decoration: none;
      }
    }
  }
}

.navbar > .wrapper {
  width: 87%;
  margin-left: 5%;
  margin-right: 8%;

  @include media-query($device-mobile) {
    width: unset;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.main > .wrapper {
  width: 87%;
  margin-left: 5%;
  margin-right: 8%;

  @include media-query($device-mobile) {
    width: unset;
    margin-left: 20px;
    margin-right: 20px;
  }
}
