---
layout: default
---

<div class="home">
  {%- if site.title -%}
    <h1 class="site-heading">{{ site.title }}</h1>
    <p class="site-subheading">{{ site.sub_title }}</p>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <div class="post-list">
      {%- for post in site.posts -%}
        {%- if post.layout == 'post' -%}
      <div class="post-list-item item-type-post">

        <a href="{{ post.url | relative_url }}" class='post-list-item-img' style="background-image: url({{post.cover_image | relative_url}})"></a>
        <div class='post-link'>
          <a class="post-link-title" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          <a class="post-link-readmore" href="{{ post.url | relative_url }}">Read More ⟶</a>
        </div>
      </div>
        {%- else -%}
      <div class="post-list-item item-type-coveronly">

        <a href="#" disabled class='post-list-item-img' style="background-image: url({{post.cover_image | relative_url}})"></a>
        <div class='post-link'>
          <a disabled class="post-link-title" href="#">
            {{ post.title | escape }}
          </a>
        </div>
      </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}

</div>

<style>
  .main { background-color: rgba(0,0,0,0); }
</style>
