---
layout: default
---

<div class="home">
  {%- if site.title -%}
    <h1 class="site-heading">{{ site.title }}</h1>
    <p class="site-subheading">{{ site.sub_title }}</p>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <div class="post-list">
      {%- for post in site.posts -%}
      <div class="post-list-item">
        <img src="https://source.unsplash.com/random/600x400?design&sig={{ forloop.index0 }}" />
        <div class='post-link'>
          <a class="post-link-title" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          <a class="post-link-readmore" href="{{ post.url | relative_url }}">Read More →</a>
        </div>
      </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

</div>
